/* Global reset and box sizing */
*,
*:before,
*:after {
    margin: 0;
    box-sizing: border-box;
}

/* Base styles */
body {
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #ffe4b5;
    height: 100vh;
}

/* Header and navigation */
header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

/* Hide menu toggle */
#menu-toggle {
    display: none;
}

/* Hamburger menu icon */
.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: white;
    transition: all 0.3s ease;
}

/* Navigation menu list */
.nav-menu {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu li {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

/* Navigation links */
.nav-menu li a {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: inherit;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/*  Logo style */
.logo-header {
    width: 70px;
    height: auto;
}

/* Nav-icon style */
.nav-img {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
}

/* Search form */
.nav-menu li.search form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav-menu li.search input[type="search"] {
    border: none;
    border-radius: 4px;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
}

.nav-menu li.search button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-menu li.search button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Mobile/small screen styles */
@media (max-width: 934px) {
    /* Show hamburger button */
    .hamburger {
        display: block;
    }

    /* Hide nav-menu by default */
    nav {
        display: none;
        width: 100%;
    }

    /* Show nav-menu when hamburger button is pressed */
    #menu-toggle:checked ~ nav {
        display: block;
        position: absolute;
        top: 80px;
        left: 0;
        background-color: #333;
    }

    /* Nav-menu layout */
    .nav-menu {
        flex-direction: column;
        text-align: center;
    }

    .nav-menu li {
        margin: 0.5rem 0;
    }

    .nav-menu li a {
        display: block;
        width: calc(100% - 4rem);
        margin: 0 auto;
        text-align: center;
        padding: 1rem 0;
    }

    /* Search styles */
    .nav-menu li.search {
        width: calc(100% - 4rem);
        margin: 0 auto;
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding-bottom: 1rem;
    }

    /* Hamburger button animations */
    #menu-toggle:checked + .hamburger span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #menu-toggle:checked + .hamburger span:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle:checked + .hamburger span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Main styles */
main {
    margin-top: 80px;
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: #333;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.top-background-container {
    position: relative;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
}

/* Title style */
h1.recipe-title {
    font-size: clamp(1.5rem, 5vw, 3rem);
    margin: 0;
    padding: 10px;
    color: #333;
    opacity: 1;
}

p.time {
    font-size: clamp(1.2rem, 3vw, 2.5rem);
    margin-bottom: 0.8rem;
}

p.author-name {
    font-weight: 300;
    font-style: italic;
    font-size: clamp(1rem, 2vw, 2rem);
    padding-bottom: 0.5rem;
}

p.difficulty {
    font-size: clamp(1rem, 2vw, 2rem);
    padding-bottom: 0.5rem;
}

/* Background image styles */
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

/* Overlay */
.background-overlay {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 1rem;
    z-index: 1;
}

/* Star rating styles */
.star-rating-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.star-rating {
    position: relative;
    font-size: clamp(2rem, 2vw, 4rem);
    color: #ccc;
    cursor: pointer;
    user-select: none;
    width: max-content;
}

.stars-outer {
    display: block;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(7, 6, 2);
    pointer-events: none;
}

.review-counter {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: #333;
}

/* Recipe image styles and carousel*/
.recipe-images {
    padding: 1em;
}

.food-images-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
}

.carousel-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

@media (max-width: 934px) {
    /* Change grid to horizontal scroll/switch for mobile/small screens */
    .food-images-grid {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 0;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .food-images-grid::-webkit-scrollbar {
        display: none;
    }
    .carousel-item {
        flex: 0 0 100%;
        scroll-snap-align: start;
        max-height: 600px;
        overflow: hidden;
    }
    .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Carousel controls */
    .carousel-controls {
        display: flex;
        justify-content: center;
        margin-top: 0.5em;
    }
    .carousel-controls button {
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        border: 1px solid transparent;
        padding: 0.5em 1em;
        font-size: 1.5em;
        cursor: pointer;
        border-radius: 50%;
        margin: 0 0.5em;
    }

    .carousel-controls button:hover {
        background: rgba(0, 0, 0, 0.7);
        border: 1px solid rgba(0, 0, 0, 0.9);
    }
}

@media (min-width: 935px) {
    /* Hide carousel controls on larger screens */
    .carousel-controls {
        display: none;
    }
}

/* Recipe layout and styles: Ingredients, Instructions, and Extra Info*/

/* Recipe h2 style */
h2 {
    margin-bottom: 1rem;
    text-align: center;
}

/* Large screens: 3-column layout */
.recipe-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 1em;
    padding: clamp(1rem, 2vw, 2rem);
    grid-template-areas: "ingredients instructions extrainfo";
    margin-bottom: 4rem;
}

.ingredient-container {
    grid-area: ingredients;
}

.instruction-container {
    grid-area: instructions;
}

.extra-info-container {
    grid-area: extrainfo;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* Lists in extra info */
.drink-list,
.alternatives-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Layout for medium screen sizes */
@media (max-width: 900px) {
    .recipe-container {
        display: grid;
        /* Two columns, two rows */
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-gap: 1em;
        /* Named grid areas so extra-info spans the entire second row */
        grid-template-areas:
            "ingredients instructions"
            "extrainfo extrainfo";
    }

    .ingredient-container {
        grid-area: ingredients;
    }

    .instruction-container {
        grid-area: instructions;
    }

    .extra-info-container {
        grid-area: extrainfo;
        /* Layout sections horizontally on medium screens */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .share-container {
        max-width: 30%;
    }

    .alternatives-container {
        max-width: 40%;
    }

    .drink-container {
        max-width: 30%;
    }
}

/* Layout for small screen sizes */
@media (max-width: 600px) {
    .extra-info-container {
        /* Layout sections vertically on small screens */
        flex-direction: column;
    }

    .recipe-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "ingredients"
            "instructions"
            "extrainfo";
    }
    .share-container,
    .alternatives-container,
    .drink-container {
        max-width: 100%;
    }

    .drink-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* Recipe portion selector styles */

#portion-display {
    font-size: 1.5em;
}

.portion-selector-div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

#portion-selector {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

#portion-selector label {
    font-weight: bold;
}

#portion-selector input[type="number"] {
    width: 60px;
    padding: 4px;
    font-size: 1em;
}

/* Instruction list style */
ol.instruction-list li {
    margin-bottom: 1em;
}

/*  Margin for extra info sections */
div.extra-info-container section {
    margin-bottom: 1em;
}

/* Share styles */
.share-buttons {
    display: flex;
    justify-self: center;
}

#share-btn {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.share-options {
    display: block;
    list-style: none;
    padding: 0.5rem;
    margin: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.share-options li {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
}

.share-options li:hover {
    background-color: #e4e4e4;
}

.share-options li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.share-options li a img {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}

/*  Footer styles */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 8rem;
    background-color: #ffe4b5;
    position: relative;
    font-size: clamp(1rem, 2vw, 1.3rem);
    padding: clamp(1rem, 2vw, 2rem);
}

@media screen and (max-width: 600px) {
    footer {
        flex-direction: column;
    }
}

footer section {
    width: 100%;
}

footer section ul {
    padding: 0;
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 1rem;
}

/* Main to footer gradient */
footer::before {
    content: "";
    display: block;
    height: 4rem;
    background: linear-gradient(to bottom, transparent, #ffe4b5);
    width: 100%;
    position: absolute;
    top: -4rem;
    left: 0;
}

.copyright {
    padding: 1rem;
}
